.input, .textarea {
  & {
    resize: none;
    border: none;
    outline: 0;
    padding: .5rem .2rem;
    font-weight: 400;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--c-dark-blue);
  }
  &::placeholder {
    color: var(--c-light-grey);
  }
}

.checkbox {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      & + label .material-symbols-outlined {
        display: inline-block;
      }
      & + label::before {
        background-color: var(--c-dark-blue);
      }
    }
  }

  label {
    & {
      position: relative;
      font-weight: 400;
      font-size: .9rem;
      line-height: 1.05rem;
    }
    cursor: pointer;
      display: inline-flex;
      align-items: center;
      user-select: none;
    .material-symbols-outlined {
      font-size: 1rem;
      display: none;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      transition: all var(--tr);
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      background: #FFFFFF;
      border: 1px solid var(--c-dark-blue);
      border-radius: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

.input-error-wrapper {
  & {
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }

  &__error {
    display: none;
    color: var(--c-error);
    font-size: 1rem;
    line-height: normal;
    opacity: 0.92;
  }

  &--has-error {
    .apply-form__input {
      border-color: var(--c-error);
    }

    .input-error-wrapper__error {
      display: block;
    }
  }
}