@import "../common/index.scss";
@import "../common/container.scss";
@import "../common/header.scss";
@import "../common/button.scss";
@import "../common/footer.scss";
@import "../common/tabbar.scss";
@import "../common/apply-form.scss";
@import "../components/form.scss";
@import "../common/products-popup.scss";
@import "../common/arrow-controls.scss";
@import "../common/send-form-popup.scss";

@import "./souznik.scss";
@import "./technologies.scss";
@import "./advantages.scss";
@import "./dev-terms.scss";
@import "./souznik-video.scss";
@import "./window-scroll.scss";
@import "./app-area.scss";

#section-souznik-video {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#section-souznik {
  margin-bottom: 2rem;
}

#section-technologies {
  margin-bottom: 2.5rem;
}

#section-advantages {
  margin-bottom: 5rem;
}

#section-dev-terms {
  margin-bottom: 9rem;
}

#section-window-scroll {
  margin-bottom: 3rem;
}

#section-app-area {
  margin-bottom: 5rem;
}

@media all and (max-width: 1108px) {
  #section-advantages {
    margin-bottom: 2.5rem;
  }

  #section-dev-terms {
    margin-bottom: 7rem;
  }
}