.dev-principles__slider-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.dev-principles__top-container {
  max-width: 1108px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dev-principles {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 60px;
    color: var(--c-dark-blue);
  }

  &__slider-nav {
    & {
      display: flex;
      justify-content: space-between;
    }
  }
  &__nav-fracs {
    font-size: 2rem;
    font-weight: 400;
    color: var(--c-dark-blue);
    span {
      &:nth-child(2) {
        color: var(--c-light-grey);
      }
    }
  }

  &__slider {
    max-width: 1108px;
    &-wrapper {
      display: grid;
      grid-auto-flow: column;
    }
  }

  &__slide-title {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--c-turquoise);
    line-height: 100%;
  }
  &__slide-desc {
    line-height: 150%;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--c-grey);
  }
  &__slide-number {
    font-weight: 300;
    font-size: 8rem;
    color: var(--c-turquoise);
  }

  &__slide {
    & {
      height: 430px;
    }

    &:hover {
      .dev-principles__slide-wrapper {
        cursor: pointer;
        transition: all var(--tr);
        background: var(--c-turquoise);
      }
      .dev-principles__slide-title {
        color: var(--c-dark-blue);
      }
      .dev-principles__slide-desc {
        color: var(--c-dark-blue);
      }
      .dev-principles__slide-number {
        color: var(--c-dark-blue);
      } 
    }

    &-info {
      & {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
      }
    }
    &-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 2px solid #969696;
      border-radius: 50px;
      padding: 2rem 2rem 1.5rem 2rem;
    }
  }
}

@media all and (max-width: 1108px) {
  .dev-principles {
    margin: 0 1rem;
    &__title {
      font-weight: 500;
      font-size: 2rem;
      line-height: 32px;
    }

    &__slider {
      width: 100%;
    }
  }

  .dev-principles__slider-container {
    width: 100%;
    justify-content: flex-start;
    max-width: 100vw;
  }
}