.key-facts {
  & {
    width: 100%;
    background: var(--c-dark-blue);
    border-radius: 40px;
  }
  &__wrapper {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem 2.5rem;
    }
    & {
      color: var(--c-volt-green);
    }
  }

  &__title {
    & {
      font-size: 3rem;
      font-weight: 400;
      line-height: 2.9rem;
    }
  }

  &__facts {
    & {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &-divider {
      & {
        align-self: flex-end;
        margin: 0 0 .5rem 0;
        height: 96px;
        width: 1px;
        background: var(--c-volt-green);
      }
    }
    &-item {
      & {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .2rem;
        padding: 0 1rem;
      }
      img, span {
        flex: 10px;
      }
      span {
        font-weight: 800;
        font-size: 2.7rem;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-weight: 300;
        line-height: 1.8rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media all and (max-width: 1108px) {
  .key-facts {
    & {
      border-radius: 20px;
    }
    &__wrapper {
      & {
        flex-direction: column;   
        gap: 3rem;     
        padding: 2.5rem 1rem;
      }
    }
    &__title {
      & {
        font-size: 2rem;
      }
    }
    &__facts {
      & {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
      }
      &-divider {
        & {
          height: 1px;
          width: 100%;
        }
      }
      &-item {
        & {
          display: grid;
          grid-template-columns: 100px 1fr;
          align-items: center;
          gap: 1rem;
        }
        img {
          justify-self: center;
        }
        span {
          white-space: nowrap;
        }
        h2 {
          text-align: left;
          font-size: 1.12rem;
        }
      }
    }
  }
}