.main-product-slider {
  &-swiper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__wrapper {
    & {
      transition-timing-function: cubic-bezier(.04,.15,.2,1.24);
      display: grid;
      grid-auto-flow: column;
      height: 100%;
      width: 100%;
      padding: 2rem 0;
    }
  }


  &__video {
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
  }

  &__image {
    width: 120%;
    height: 160%;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%) rotate(-20deg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  &__slide {
    & {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    &-outer-wrapper {
      width: 100%;
      height: 100%;
    }
    &-wrapper {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--c-light-grey);
      max-width: var(--max-width-secondary);
      padding: 4rem 2rem 3rem 4rem;
      border-radius: 60px;
      height: 560px;
      width: 100%;
      box-shadow: 4px 2px 21px 4px rgba(0, 0, 0, 0.09);

      &:hover {
        &::before {
          background: rgba(0, 0, 0, 0);
        }
      }

      &::before {
        z-index: 100;
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition: all var(--tr);
      }
    }

    &-title, &-subtitle {
      color: #fff;
    }

    &-title {
      font-weight: 800;
      font-size: 4rem;
      line-height: 77px;
      margin-bottom: .1rem;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 22px;
    }
  }

  &__slide-top {
    z-index: 150;
  }
  
  &__slide-bottom {
    & {
      z-index: 150;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 2rem;
    }
  }

  .main-product-swiper-button {
    &-prev, &-next {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__slide-controls {
    & {
      display: flex;
      gap: 1rem;
    }
    * {
      color: #fff;
      font-size: 2.3rem;
      line-height: .5rem;
    }
  }

  &__slide-scroll {
    & {
      display: flex;
      flex-direction: column;
      gap: .7rem;
      width: 25%;
    }
  }

  &__scroll {
    &-top {
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: .9rem;
    }
    &-line {
      & {
        position: relative;
        display: flex;
        height: 3px;
        background: #f0f0f0;
      }
    }
    &-subline {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      height: 3px;
      background: var(--c-grey);
    }
  }
}

@media all and (max-width: 500px) {
  .main-product-slider {
    &__image {
      width: 219.313% !important;
      height:  125% !important;
    }
  }
}

@media all and (max-width: 600px) {
  .main-product-slider {
    &__video {
      width: auto !important;
      height: 100%;
      top: 0;
    }
    &__image {
      width: 219.313%;
      height: 150%;
      transform: translate(-50%, -50%) rotate(-55deg);
    }
  }
}

@media all and (max-width: 608px) {
  .main-product-slider {
    &__video {
      height: 140%;
    }

    &__slide {
      &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        height: 100%;
        padding: 4rem 1rem 2rem 1rem;
        margin: 0 1rem;
        border-radius: 20px;
      }
      &-title {
        font-size: 2.3rem;
        line-height: 43px;
      }
  
      &-subtitle {
        font-size: 1rem;
        line-height: 22px;
      }
    }
  }
}

@media all and (max-width: 1108px) {
  .main-product-slider {
    & {
      margin: 3rem 0 0 0;
      height: 550px;
    }
    
    &__video {
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    &__slide {
      &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &-bottom {
        align-items: flex-end;
      }
      &-wrapper {
        height: 100%;
        margin: 0 1rem;
        border-radius: 20px;
      }
    }
    &__slide-scroll {
      width: 100%;
    }
  }
}