.solved-tasks {
  & {
    margin-bottom: 6rem;
  }

  &__wrapper {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__title {
    & {
      font-size: 3rem;
      font-weight: 400;
    }
  }
}

.solved-tasks__list {
  & {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 3rem;
    font-weight: 400;
  }
  &-item {
    & {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-title {
      font-weight: 400;
      font-size: 2rem;
      color: var(--c-dark-blue);
    }
    &-description {
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--c-grey);
    }
  }
}

@media all and (max-width: 1108px) {
  .solved-tasks {
    &__wrapper {
      & {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
      }
    }
  
    &__title {
      & {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
  .solved-tasks__list {
    &-item {
      &-title {
        font-size: 1.5rem;
      }
      &-description {
        font-size: 1rem;
      }
    }
  }
}