.technologies {
  & {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  &__title {
    & {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      color: var(--c-light-grey);
    }
    &:before {
      content: "ИСПОЛЬЗУЕМ 30+ ФРЕЙМВОРКОВ";
    }
  }
  &__tech-list {
    & {
      display: flex;
      gap: 3rem;
    }
  }
}

@media all and (max-width: 1108px) {
  .technologies {
    & {
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
    &__title {
      &:before {
        content: "ТЕХНОЛОГИИ";
      }
    }
    &__tech-list {
      & {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
      }
    }
  }
}