@import url("../components/form.scss");

.apply-form--not-fixed-height {
  .apply-form__wrapper {
    height: 100%;
  }
  .apply-form__wrapper-left {
    padding: 2rem 0;
  }
}

.apply-form {
  &__wrapper {
    & {
      display: flex;
      gap: 2rem;
    }
  }

  &__title {
    & {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__info {
    padding-left: 26px;
  }

  &__close-button {
    position: absolute;
    
    right: 5%;
    top: 4%;
    color: #fff;
    &:hover {
      opacity: 0.5;
    }
    span {
      font-size: 30px;
    }
  }

}

.apply-form__wrapper-left {
  & {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-height: 750px;
  }

  &-form {
    .apply-form__form {
      display: flex !important;
    }
  }

  &-success {
    .apply-form__success-message {
      display: flex !important;
    }
  }

  &-error {
    .apply-form__error-message {
      display: flex !important;
    }
  }


  .apply-form__message {
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 10rem 0 11rem 0;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      color: var(--c-dark-blue);
      text-align: center;
      line-height: 3rem;
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      color: var(--c-grey);
      text-align: center;
    }

    button {
      margin-top: 20px;
      width: 100%;
    }
  }
}


.apply-form__input {
  width: 100%;
}

.apply-form__form {
  & {
    display: none;
    flex-direction: column;
    gap: 3rem;
    max-width: 400px;
    width: 100%;
  }
  textarea {
    width: 100%;
  }

  textarea {
    height: 110px;
  }
}

.apply-form__bottom-wrapper {
  & {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.apply-form__checkbox {
  & {
    display: flex;
    align-items: center;
    gap: .7rem;
  }
  * {
    color: var(--c-dark-blue);
    font-weight: 400;
  }
}

.apply-form__wrapper-right {
  & {
    position: relative;
    flex: 1.2;
    background: url("../../assets/photos/apply-form-image.jpg") center no-repeat;
    background-size: cover;
    border-radius: 100px 0px 0px 100px;
    display: flex;
    align-items: flex-end;
  }
}

.apply-form__info {
  & {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  p {
    padding-right: 2rem;
    font-size: 2.1rem;
    color: #fff;
    line-height: 40px;
    font-weight: 600;
  }
}

.apply-form__companies-logos {
  & {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  span {
    & {
      font-size: 1.75rem;
      font-weight: 700;
      color: #fff;
      white-space: nowrap;
    }
  }
}


@media all and (min-width: 1220px) {
  .apply-form__wrapper-right {
    & {
      border-radius: 100px;
    }
  }
  .apply-form__close-button {
    top: 7%;
    right: 8%;
  }
}

@media all and (max-width: 1108px) {
  .apply-form__close-button {
    top: 1.9rem;
    right: 3%;
  }
  .apply-form__message {
    padding: 0 0 3rem 0 !important;
  }
  .apply-form {
    &__wrapper {
      & {
        flex-direction: column;
        gap: 1rem;
      }
    }
    &__title {
      font-size: 2rem;
      align-self: flex-start;
    }
  }
  .apply-form__wrapper-left {
    & {
      order: 2;
      padding: 1rem 1rem;
      gap: 3rem;
    }
  }
  .apply-form__wrapper-right {
    overflow: hidden;
    order: 1;
    border-radius: 40px;
  }
  .apply-form__info {
    padding: 2rem 2.5rem ;
    p {
      font-size: 26px;
    }
  }
  .apply-form__companies-logos {
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 90vw;
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
  .apply-form__input {
    font-size: 1rem;
  }
}