.arrow-controls {
  & {
    display: flex;
    gap: 1rem;
  }
  * {
    font-size: 2.5rem;
    font-weight: 400;
  }

  &-prev, &-next {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    span {
      transition: all .3s ease;
      &:nth-child(2) {
        position: absolute;
        color: var(--c-turquoise);
      }
    }
  }

  &-prev {
    span {
      &:nth-child(2) {
        transform: translateX(100%);
      }
    }

    &:hover {
      span {
        &:nth-child(1) {
          transform: translateX(-100%);
        }
        &:nth-child(2) {
          transform: translateX(-100%);
        }
      }
    }
  }

  &-next {
    span {
      &:nth-child(2) {
        transform: translateX(-200%);
      }
    }

    &:hover {
      span {
        &:nth-child(1) {
          transform: translateX(100%);
        }
        &:nth-child(2) {
          transform: translateX(-100%);
        }
      }
    }
  }
  
}