.breadcrumb {
  & {
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  * {
    font-size: .9rem;
    font-weight: 500;
  }

  &__item {
    & {
      display: flex;
      align-items: center;
      color: #000;
    }

    &--active {
      font-weight: 600;
      color: var(--c-turquoise);
    }

    &:not(:last-child)::after {
      content: "/";
      display: inline-block;
      margin-left: .5rem;
      font-weight: 600;
      font-size: 1.1rem;
    }


  }
}