.button {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;
    transition: all var(--tr);
  }
  &--secondary {
    & {
      color: #fff;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      font-weight: 500;
    }
    &:hover {
      background: var(--c-dark-blue-o20);
    }
  }
  &--primary {
    & {
      background: var(--c-volt-green);
      border-radius: 10px;
      font-weight: 500;
    }
    &:hover {
      background: var(--c-light-volt-green);
    }
  }
}