.button {
  & {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    outline: none;
    border: none;
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;
    transition: all var(--tr);
  }
  &--secondary {
    & {
      padding: .5rem 1rem;
      color: #fff;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      font-weight: 500;
    }
    &:hover {
      background: var(--c-dark-blue-o20);
    }
  }
  &--primary {
    & {
      padding: .5rem 1rem;
      background: var(--c-volt-green);
      border-radius: 10px;
      font-weight: 500;
    }
    &:hover {
      background: var(--c-light-volt-green);
    }
  }
  &--big-button {
    & {
      & {
        padding: 1rem 2rem;
        background: var(--c-volt-green);
        border-radius: 10px;
        font-weight: 500;
        gap: .5rem;
      }
      &:hover {
        background: var(--c-light-volt-green);
      }
    }
  }
}