.container {
  & {
    width: 100%;
  }
  &--page-wrapper {
    & {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  &--primary {
    & {
      max-width: var(--max-width-primary);
      margin: 0 5rem;
    }
  }
  &--secondary {
    & {
      max-width: var(--max-width-secondary);
      margin: 0 2rem;
    }
  }
}


@media all and (max-width: 1108px) {
  .container {
    &--secondary {
      & {
        padding: 0 1rem;
      }
    }
  }
}