.header {
  & {
    z-index: 1000;
    width: 100%;
    max-width: var(--max-width-secondary);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: var(--c-dark-blue-o60);
    border: 1px solid var(--c-grey);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem 1.5rem;
    height: 80px;
  }
  &__filler {
    height: 90px;
  }
}

.header__wrapper {
  & {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.header__menu {
  & {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}

.header__menu-item {
  & {
    display: flex;
    align-items: center;
    height: 39px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 100px;
    transition: all var(--tr);
  }

  &--products {
    & {
      display: flex;
      align-items: center;
      gap: .1rem;
    }

    span {
      &:nth-child(2) {
        width: 18.5px;
        transition: all .4s ease;
        transform: translateY(1px) rotateX(0deg);
      }
    }
  }
  
  cursor: pointer;

  &:hover, &--active {
    & {
      background: var(--c-dark-blue-o20);
    }
  }
}

.header__menu-item--active.header__menu-item--products {
  span {
    &:nth-child(2) {
      transform: translateY(1px) rotateX(180deg);
    }
  }
}

.header__menu-divider {
  background: var(--c-white-o20);
  width: 1px;
  height: 90%;
}

.header__buttons {
  & {
    display: flex;
    gap: 1rem;
  }
}

.header__call-button {
  & {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  .button {
    height: 100%;
  }
}

#HeaderSendButton {
  color: var(--c-dark-blue);
}

@media all and (max-width: 1108px) {
  .header {
    display: none;

    &__filler {
      & {
        display: none;
      }
    }
  }
}