@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {

}

:root {
  --tr: .1s ease;
  --max-width-primary: 1220px;
  --max-width-secondary: 1108px;
  --c-white-o20: rgba(255, 255, 255, 0.2);
  --c-grey: #969696;
  --c-light-grey: #C2C2C2;
  --c-dark-blue: #112D38;
  --c-dark-blue-o20: rgba(17, 45, 56, 0.2);
  --c-dark-blue-o60: rgba(17, 45, 56, 0.6);
  --c-volt-green: #B1EC52;
  --c-light-volt-green: #E5FFA4;
}