.products-popup {
  & {
    display: none;
    position: fixed;
    z-index: 550;
    top: calc(.5rem + 80px);
    backdrop-filter: blur(10px);
  }

  * {
    text-decoration: none;
  }

  &__product-ph-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__image {
    & {
      width: 30px;
      height: 30px;
      transform: rotate(-70deg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &__video {
    & {
      width: 47px;
      height: 47px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: var(--c-dark-blue-o60);
    padding: 1.5rem 2rem;
    max-width: 620px;
    border-radius: 10px;

    border: 1px solid var(--c-grey);
  }

  &__close-button {
    position: absolute;
    right: 0;
    color: #fff;
    transition: all var(--tr);
    &:hover {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__top {
    & {
      display: none;
      justify-content: center;
      align-items: center;
    }
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    h1 {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
    }
  }

  &__products {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
      column-gap: .9rem;
    }
  }

  &__product {
    & {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      cursor: pointer;
    }

    * {
      transition: color var(--tr);
    }

    &:hover {
      .products-popup__product-title {
        color: var(--c-turquoise);
      }
      .products-popup__product-subtitle {
        color: var(--c-turquoise);
      }
    }

    &-top {
      & {
        display: flex;
        align-items: center;
        gap: .7rem;
      }
    }
    &-image {
      & {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background: var(--c-grey);
      }
    }
    &-title {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
    }
    &-subtitle {
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

@media all and (max-width: 1108px) {
  .products-popup {
    &__top {
      display: flex;
    }
    bottom: 0;
    &__wrapper {
      padding: 1.2rem;
      height: 100%;
      max-width: 100vw;
    }

    &__products {
      row-gap: 1.2rem;
      column-gap: 1rem;
    }

    &__product {
      transition: background var(--tr);
      background: var(--c-dark-blue-o60);
      padding: 1rem;
      border-radius: 10px;

      &:hover { 
        background: var(--c-dark-blue-o20);
        .products-popup__product-title {
          color: #fff;
        }
        .products-popup__product-subtitle {
          color: #fff;
        }
      }

      &-title {
        font-size: .9rem;
      }
      &-subtitle {
        font-size: .8rem;
      }
    }
  }
}