#SendFormPopup {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

@media all and (max-width: 1108px) {
  #SendFormPopup {
    overflow-y: auto;
    .apply-form__wrapper {
      padding-top: 2.5rem;
      max-height: 100vh;
    }

    .apply-form__wrapper-right {
      & {
        overflow: visible;
      }
    }

    .apply-form__info {
      padding: 1.5rem 1rem;
    }

    .apply-form__form {
      padding: 0 1rem;
      padding-bottom: 7rem;
    }
  }
  
}