.tab-bar {
  & {
    z-index: 2000;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: var(--c-dark-blue-o60);
    backdrop-filter: blur(10px);
    border-radius: 1rem 1rem 0px 0px;
    padding: .9rem 1rem 1.3rem 1rem;
    height: 84px;

    border: 0.6px solid var(--c-light-grey);
  }

  &__wrapper {
    & {
      display: flex;
      justify-content: space-between;
      gap: .5rem;
    }
  }
}

.tab-bar__item {
  & {
    position: relative;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    text-decoration: none !important;

  }

  &:nth-child(3):hover  {
    .tab-bar__item-name {
      transition: all var(--tr);
      color: var(--c-volt-green);
    }
  }

  &:not(:nth-child(3)):hover {
    .tab-bar__item-name {
      transition: all var(--tr);
      color: var(--c-turquoise);
    }

    .tab-bar__item-icon {
      filter: grayscale(0);
    }
  }
  &:not(:nth-child(3)) {
    .tab-bar__item-icon {
      filter: grayscale(1) contrast(3);
    }
  }
  &-icon {
    height: 30px;
  }
  &-name {
    & {
      font-size: .6rem;
      color: #fff;
      font-weight: 500;
      text-align: center;
      word-break: keep-all;
    }
  }
}

#TabbarCallButton {
  position: absolute;
  top: -136%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c-dark-blue-o60);
  backdrop-filter: blur(10px);
  border-radius: 11px;
  padding: .84rem;
  border: 0.6px solid var(--c-light-grey);
  img {
    width: 18px;
    height: 18px;
  }
}

@media all and (max-width: 1108px) {
  .tab-bar {
    display: block;
    
  }
}